body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    background-color: #1F2937;
    
}

.header_links {
    display: flex;
    gap: 12px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;

}

footer {
    padding: 16px;
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}


.awesome {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}
.awesome_title{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.awesome_subtext {
    font-weight: 18px;
    color: #e5e7eb;

}

.information {

}

.quote {
    background-color: #e5e7eb;
}