body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}
footer {
    padding: 16px;
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}


.awesome {
    display: flex;
    justify-content: center;
    align-items: center;
}